---
---


@font-face {
    font-family: 'cajito';
    src: url('cajitoregular/cajito.otf');
}

@font-face {
    font-family: 'fabfelt';
    src: url('Sketch_Block.ttf');
}


// MIXINS
@mixin fontStyleColor {
  font-family: 'cajito';
  color: #3A3A3C;
}

$mustard: #e0b412;

html {
  max-width: 1440px;
}


// VARIABLES
$gray: #3A3A3C;
$font: 'cajito';

// GENERAL FIXES
html, body, ul, li, h1, h2, h3, a{
  margin: 0px;
  padding: 0px;
}

// HEADER STYLING: NAME
header {
  height: 130px;
  position: relative;
  background-color: #708090;
  // background:
  // linear-gradient(
  //   rgba(#466C79, 0.06),
  //   rgba(#466C79, 0.06)
  // ),
  // url("../images/whitediamond.png");
  // background-repeat: repeat;
  // background-size: contain;

// INSIDE HEADER NAME AND TITLE
  .headname {
    .nameslogan {
      padding-top: 2.5%;
    }
    a {
        text-decoration: none;
        font-family: 'cajito';
        font-size: 40px;
        padding-left: 8%;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
      }
      h2{
        // @include fontStyleColor;
        font-family: 'cajito';
        color: white;
        font-weight: 200;
        font-size: 20px;
        padding-left: 12%;
      }
      .headericon {
        font-family: 'cajito';
        color: white;
        font-size: 70px;
        font-weight: 300px;
        padding-left: 5%;
        bottom: 16%;
        position: absolute;
      }
  }

// SOCIAL MEDIA ICONS
.socialmediaicons {
  position: absolute;
  left: 85%;
  top: 130%;
  font-size: 25px;
    ul {
      width: 100%;
      li {
        display: inline;
        list-style: none;
        // padding: 3%;
        a {
          color: #708090;
          text-decoration: none;
        }
        a:hover {
          color: $mustard;
          -webkit-transition: color 500ms ease .01s;
          -moz-transition: color 500ms ease .01s;
          transition: color 500ms ease .01s;
        }
      }
    }
  }
}

// NAVIGATION
nav {
  text-align: center;
  background-color: #708090;
  padding-top: .5%;
  padding-bottom: .3%;
  ul {
    li {
      display: inline;
      list-style: none;
      text-decoration: none;
      a {
        text-decoration: none;
        display: inline-block;
        background-color: #708090;
        color: white;
        font-family: $font;
        padding: 0 4%;
        font-size: 17px;
        text-transform: uppercase;
      }
      a:active, a:hover, a:after, a:focus {
        color: $mustard;
        -webkit-transition: color 500ms ease .01s;
        -moz-transition: color 500ms ease .01s;
        transition: color 500ms ease .01s;
      }
    }
  }
}

// MIDDLE CONTENT/ SHORTENED ABOUT ME
section {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 3%;

  .meblurb {
    color: $gray;
    font-family: 'cajito';
    font-size: 17px;
    text-transform: lowercase;
    text-align: left;
    margin: 2%;
  }

  .largecurlyicon {
    img {
      height: 65px;
      opacity: 0.17;
    }
  }
}


// PROJECT SECTION
.secondsection {
  background-color: #fafafa;
  margin: 0;
  margin-top: 2%;
  padding-bottom: 2%;
  .projectstitle {
    font-family: 'cajito';
    color: $gray;
    font-size: 20px;
    padding-top: 1%;
    padding-left: 6%;
    padding-bottom: 1%;
    text-align: left;
    text-transform: uppercase;
    }
  .projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin: 0 auto;
    .project {
      padding: 1% 2%;
      img {
        width: 375px;
        height: 220px;
        text-align: center;
        object-fit: cover;
        }
        h2 {
          font-family: 'cajito';
          color: $gray;
          font-size: 17px;
          text-align: center;
          text-transform: none;
          font-weight: 200;
          padding-top: 5%;
          text-transform: uppercase;
        }
        p {
          font-family: 'cajito';
          font-size: 20px;
          text-align: center;
          text-transform: none;
          font-weight: 200;
        }
      }
    }
  }

// FOOTER
footer {
  font-family: "cajito";
  height: 18px;
  font-size: 15px;
  color: $gray;
  font-family: 'cajito';
  text-align: center;
}


// BLOG SECTION: FEATURED POST
// .thirdsection {
//   float: left;
//   h2 {
//     font-family: 'cajito';
//     color: #466C79;
//     font-size: 32px;
//     margin-left: 5%;
//     padding-top: 2%;
//   }
//     .blogpost {
//       list-style: none;
//       padding: 10%;
//       span {
//       @include fontStyleColor;
//       margin-left: 15%;
//       list-style: none;
//       }
//       h3 {
//       @include fontStyleColor;
//       margin-left:15%;
//       text-decoration: none;
//       }
//     }
//   }



// TABLET MEDIA QUERY

@media (min-width: 631px) and (max-width: 1024px) {
  header .headname .headericon {
    padding-left: 3%;
    bottom: 23%;
  }

.secondsection .projectcontainer {
  justify-content: space-around;
  margin-top: 5%;
  padding-bottom: 5%;
    .project {
      width: 190px;
      img {
        width: 190px;
        height: 140px;
      }
      .secondsection {
        width: 190px;
      }
    }
  }

section {
  padding: 12% 0;
  margin: 0 auto;
  width: 80%;
}
  section .meblurb {
    width: 75%;
    font-size: 30px;
  }
}


// MOBILE MEDIA QUERY

@media (max-width: 630px) {

  header {
    padding-top: 0%;
    height: 120px;
  }

  header .headname a {
    font-size: 30px;
    display: block;
    padding: 0;
    padding-top: 10%;
  }

  header .headname h2 {
    text-align: center;
    font-size: 20px;
    padding: 0;
    padding-top: 1%;
  }

  header .headname .headericon {
    display: none;
  }


  nav ul li a {
    font-size: 15px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-decoration: none;
  }

  header .socialmediaicons {
    position: absolute;
    left: 65%;
    top: 140%;
    font-size: 20px;
    padding: 0 1%;
    }

  section {
    width: 97%;
    margin: 0 auto;
    margin-top: 20%;

    .meblurb {
      font-size: 17px;
      width: 80%;
      padding-left: 1%;
    }
    .largecurlyicon {
      img {
        height: 70px;
        padding: 5%;
        padding-right: 13%;
      }
    }
    .mephoto {
      img{
        height: 100px;
        padding-left: 1%;
      }
    }
  }

.secondsection {
  padding: 2%;
  .projectcontainer {
    padding: 10%;
    .project {
      padding: 1%;
      img {
        height: 130px;
        }
        h2 {
          font-family: 'cajito';
          color: $gray;
          font-size: 20px;
          text-transform: none;
          font-weight: 200;
          text-align: left;
          text-align: center;
          text-transform: uppercase;
        }
        p {
          padding: 1%;
          font-size: 17px;
        }
      }
    }
  }

footer {
height: 24px;
font-size: 9px;
  }
}

// ABOUT PAGE

.aboutphoto img {
    height: 320px;
    display: block;
    margin: 0 auto;
    padding: 6% 0 2% 0;
  }

.aboutalltext {
  width: 540px;
  display: block;
  margin: 0 auto;
  p {
    @include fontStyleColor;
    font-size: 18px;
    line-height: 1.4;
    text-align: justify;
  }
}

.skillscontainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  .skills{
    width: 450px;
    position: relative;
    p {
      @include fontStyleColor;
      font-size: 18px;
      line-height: 1.4;
      text-align: justify;
    }
  }
}



// ABOUT PAGE MEDIA QUERIES

// ABOUT TABLET MEDIA QUERY
@media (min-width: 631px) and (max-width: 1024px) {
  header .headname .headericon {
    padding-left: 3%;
    bottom: 23%;
  }
}



// ABOUT MOBILE MEDIA QUERY

@media (max-width: 630px) {

  header {
    padding-top: 0%;
    height: 120px;
  }

  header .headname a {
    font-size: 30px;
    text-align: center;
    padding: 0;
    padding-top: 10%;
  }

  header .headname h2 {
    text-align: center;
    font-size: 20px;
    padding: 0;
    padding-top: 1%;
  }

  header .headname .headericon {
    display: none;
  }

  nav ul li a {
    font-size: 15px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-decoration: none;
  }

  header .socialmediaicons {
    position: absolute;
    left: 65%;
    top: 140%;
    font-size: 20px;
    padding: 0 1%;
    }

  .aboutphoto img {
      height: 200px;
      display: block;
      margin: 0 auto;
      padding: 20% 0 2% 0;
    }

  .aboutalltext {
    width: 220px;
    p {
      font-size: 15px;
      text-align: left;
    }
  }

  .skillscontainer {
    .skills{
      width: 220px;
      p {
        font-size: 15px;
        text-align: left;
      }
    }


  footer {
  height: 24px;
  font-size: 9px;
    }
  }
}


// RESEARCH PAGE

.title {
  @include fontStyleColor;
  font-size: 30px;
  text-align: center;
  margin-top: 5%;
}

.subtitle {
  @include fontStyleColor;
  font-size: 20px;
  text-align: center;
  text-transform: lowercase;
}


h3 {
  @include fontStyleColor;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 10%;
}

h4 {
  @include fontStyleColor;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 10%;
  font-weight: 900;
}

.abouttext {
  @include fontStyleColor;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 40%;

  a{
    text-decoration: underline;
    font-size: 20px;
    font-weight: 900;
    font-family: 'cajito';
    color: $mustard;
    cursor: pointer;
  }
}

// RESEARCH MEDIA QUERY TABLET
@media (min-width: 631px) and (max-width: 1024px) {
  header .headname .headericon {
    padding-left: 3%;
    bottom: 23%;
  }

}

// RESEARCH MEDIA QUERY MOBILE

@media (max-width: 630px) {

  header {
    padding-top: 0%;
    height: 120px;
  }

  header .headname a {
    font-size: 30px;
    text-align: center;
    padding: 0;
    padding-top: 10%;
  }

  header .headname h2 {
    text-align: center;
    font-size: 20px;
    padding: 0;
    padding-top: 1%;
  }

  header .headname .headericon {
    display: none;
  }

  nav ul li a {
    font-size: 15px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-decoration: none;
  }

  header .socialmediaicons {
    position: absolute;
    left: 65%;
    top: 140%;
    font-size: 20px;
    padding: 0 1%;
    }

  .title {
    margin-top: 20%;
  }

  .subtitle {
    @include fontStyleColor;
    font-size: 20px;
    text-align: center;
    text-transform: lowercase;
  }

  h3 {
    @include fontStyleColor;
    margin-left: 5%;
    margin-right: 1%;
  }

  h4 {
    @include fontStyleColor;
    margin-left: 5%;
    margin-right: 2%;
    font-size: 15px;
    text-align: center;
  }

  .abouttext {
    margin-left: 5%;
    margin-right: 5%;
    a{
      font-size: 15px;
    }
  }
}
