---
---


@font-face {
    font-family: 'cajito';
    src: url('cajitoregular/cajito.otf');
}
// MIXINS
@mixin fontStyleColor {
  font-family: 'cajito';
  color: #3A3A3C;
}

html {
  max-width: 1440px;
}


// VARIABLES
$gray: #3A3A3C;
$font: 'cajito';

// GENERAL FIXES
html, body, ul, li, h1, h2, h3{
  margin: 0px;
  padding: 0px;
}

// HEADER STYLING: NAME
header {
  height: 125px;
  position: relative;
  background:
  linear-gradient(
    rgba(#466C79, 0.06),
    rgba(#466C79, 0.06)
  ),
  url("../images/whitediamond.png");
  background-repeat: repeat;
  background-size: contain;

// INSIDE HEADER NAME AND TITLE
  .headname {
    .nameslogan {
      padding-top: 2.5%;
    }
    a {
      text-decoration: none;
        @include fontStyleColor;
        font-size: 40px;
        padding-left: 8%;
        text-transform: uppercase;
        text-decoration: none;
      }
      h2{
        // @include fontStyleColor;
        font-family: 'cajito';
        color: #466C79;
        font-weight: 200;
        font-size: 20px;
        padding-left: 12%;
      }
      h3 {
        @include fontStyleColor;
        font-size: 70px;
        font-weight: 300px;
        padding-left: 5%;
        bottom: 16%;
        position: absolute;
      }
  }

// SOCIAL MEDIA ICONS
.socialmediaicons {
  position: absolute;
  left: 70%;
  top: 70%;
  font-size: 30px;
    ul {
      li {
        display: inline;
        list-style: none;
        padding: 5%;
        a {
          color: $gray;
          text-decoration: none;
        }
        a:hover {
          color: #466C79;
        }
      }
    }
  }
}

// NAVIGATION
nav {
  text-align: center;
  background-color: $gray;
  ul {
    li {
      display: inline;
      list-style: none;
      padding: 2%;
      text-decoration: none;
      a {
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        background-color: $gray;
        color: white;
        font-family: $font;
        padding: .5%;
        padding-top: 1%;
        font-size: 20px;
      }
      a:hover {
        font-weight: 900;
        color: #466C79;
      }
    }
  }
}

// MIDDLE CONTENT/ SHORTENED ABOUT ME
section {
  width: 65%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 5%;

  .meblurb {
    @include fontStyleColor;
    font-size: 22px;
    width: 38%;
  }
  .largecurlyicon {
    img {
      height: 190px;
    }
  }
  .mephoto {
    img{
      box-sizing: border-box;
      height: 180px;
    }
  }
}

// PROJECT SECTION
.secondsection {
  background-color: #fafafa;
  margin: 0;
  margin-top: 2%;
  padding-bottom: 2%;
  h2 {
    font-family: 'cajito';
    text-transform: uppercase;
    color: #466C79;
    font-size: 20px;
    margin-left: 8%;
    padding-top: 2%;
    }
  .projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    margin: 0 auto;
    .project {
      padding: 1% 2%;
      img {
        width: 290px;
        height: 155px;
        text-align: center;
        object-fit: contain;
        }
        h2 {
          font-family: 'cajito';
          color: $gray;
          font-size: 18px;
          text-transform: none;
          font-weight: 200;
        }
      }
    }
  }

// FOOTER
footer {
  background-color: $gray;
  height: 30px;
  h3 {
    font-size: 15px;
    color: white;
    font-family: 'cajito';
    text-align: center;
    padding-top: 1%;
    }
  }


// BLOG SECTION: FEATURED POST
// .thirdsection {
//   float: left;
//   h2 {
//     font-family: 'cajito';
//     color: #466C79;
//     font-size: 32px;
//     margin-left: 5%;
//     padding-top: 2%;
//   }
//     .blogpost {
//       list-style: none;
//       padding: 10%;
//       span {
//       @include fontStyleColor;
//       margin-left: 15%;
//       list-style: none;
//       }
//       h3 {
//       @include fontStyleColor;
//       margin-left:15%;
//       text-decoration: none;
//       }
//     }
//   }



// TABLET MEDIA QUERY

@media (min-width: 631px) and (max-width: 1024px) {
  header .headname h3 {
    padding-left: 3%;
    bottom: 23%;
  }

.secondsection .projectcontainer {
  justify-content: space-around;
  margin-top: 5%;
  padding-bottom: 5%;
    .project {
      width: 190px;
      img {
        width: 190px;
        height: 140px;
      }
      h2 {
        width: 190px;
      }
    }
  }

section {
  padding: 12% 0;
  margin: 0 auto;
  width: 80%;
}
  section .meblurb {
    width: 45%;
    font-size: 20px;
  }
}




// MOBILE MEDIA QUERY

@media (max-width: 630px) {

  header {
    padding-top: 0%;
    height: 120px;
  }

  header .headname h1 {
    font-size: 30px;
    text-align: center;
    padding: 0;
    padding-top: 10%;
  }

  header .headname h2 {
    text-align: center;
    font-size: 15px;
    padding: 0;
    padding-top: 1%;
  }

  header .headname h3 {
    display: none;
  }


  nav ul li a {
    font-size: 15px;
    padding: 2% 0;
    padding-top: 2.5%;
    text-decoration: none;
  }

  header .socialmediaicons {
    position: absolute;
    left: 53%;
    top: 140%;
    font-size: 20px;
    padding: 0 3%;
    width: 30%;
    }

  section {
    width: 97%;
    margin: 0 auto;
    margin-top: 20%;

    .meblurb {
      @include fontStyleColor;
      font-size: 14px;
      width: 47%;
      padding-left: 3%;
    }
    .largecurlyicon {
      img {
        height: 70px;
        padding: 11%;
        padding-right: 13%;
      }
    }
    .mephoto {
      img{
        height: 100px;
        padding-left: 1%;
      }
    }
  }

.secondsection {
  padding: 2%;
  .projectcontainer {
    padding: 2%;
    .project {
      padding: 1%;
      img {
        }
        h2 {
          font-family: 'cajito';
          color: $gray;
          font-size: 14px;
          text-transform: none;
          font-weight: 200;
          text-align: left;
          padding: 10%;
          padding-left: 0;
          margin: 0;
        }
      }
    }
  }

footer {
height: 18px;
h3 {
  font-size: 10px;
    }
  }
}

// ABOUT PAGE

.aboutphoto img {
    height: 320px;
    display: block;
    margin: 0 auto;
    padding: 6% 0 2% 0;
  }

.aboutalltext {
  width: 540px;
  display: block;
  margin: 0 auto;
  p {
    @include fontStyleColor;
    font-size: 18px;
    line-height: 1.4;
    text-align: justify;
  }
}

.skillscontainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  .skills{
    width: 450px;
    position: relative;
    p {
      @include fontStyleColor;
      font-size: 18px;
      line-height: 1.4;
      text-align: justify;
    }
  }
.abouticon img {
  height: 200px;
  }
}
