---
---


$bodyfont: 'Roboto', sans-serif;


@font-face {
    font-family: 'cajito';
    src: url('../../css/cajitoregular/cajito.otf');
}

@font-face {
    font-family: 'fabfelt';
    src: url('Sketch_Block.ttf');
}


// MIXINS
@mixin fontStyleColor {
  font-family: 'cajito';
  color: #3A3A3C;
}

$coral: #ff5A5F;

html {
  max-width: 1440px;
  min-height: 100vh;
}

body {
  background-color: #f9f9f9;
}

// VARIABLES
$gray: #3A3A3C;
$font: 'cajito';

// GENERAL FIXES
html, body, ul, li, h1, h2, h3, a{
  margin: 0px;
  padding: 0px;
}


// HEADER STYLING: NAME
header {
  height: 210px;
  position: relative;
  background-color: $gray;
  padding-top: 2%;

// INSIDE HEADER NAME AND TITLE
  .headname {
    text-align: center;
    .nameslogan {
      padding-top: 3.5%;
    }
    a {
        text-decoration: none;
        font-family:'cajito', $bodyfont;
        font-size: 6.2vw;
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
      }
      a:hover {
        color: $coral;
        -webkit-transition: color 500ms ease .01s;
        -moz-transition: color 500ms ease .01s;
        transition: color 500ms ease .01s;
      }
      h2{
        // @include fontStyleColor;
        font-family: $bodyfont;
        color: white;
        font-weight: 200;
        font-size: 20px;
      }
    }
  }

// SOCIAL MEDIA AND EMAIL CONTAINER
.socialmediaandemail {
  text-align: center;
  background-color: #ededed;
  padding-top: 5%;
}

// SOCIAL MEDIA ICONS
.socialmediaicons {
  font-size: 20px;
    ul {
      width: 100%;
      li {
        display: inline;
        list-style: none;
        // padding: 3%;
        a {
          color: #77767d;
          text-decoration: none;
        }
        a:hover {
          color: $coral;
          -webkit-transition: color 500ms ease .01s;
          -moz-transition: color 500ms ease .01s;
          transition: color 500ms ease .01s;
        }
      }
    }
  }




// EMAIL
.emailme p  {
  margin: 0;
  padding-bottom: 2%;
  font-family: $bodyfont;
  font-size: 12px;
  color: #77767d;
}
.emailme p a {
  font-family: $bodyfont;
  font-size: 17px;
  text-decoration: none;
  color: #77767d;
  text-transform: uppercase;
}
.emailme p a:hover {
  color: $coral;
  -webkit-transition: color 500ms ease .01s;
  -moz-transition: color 500ms ease .01s;
  transition: color 500ms ease .01s;
}

// NAVIGATION
nav {
  text-align: center;
  background-color: $gray;
  padding-top: 3%;
  padding-bottom: 1%;
  width: 100%;
  ul {
    li {
      display: inline;
      list-style: none;
      text-decoration: none;
      a {
        text-decoration: none;
        display: inline-block;
        color: white;
        font-family: $bodyfont;
        padding: 0 1%;
        font-size: 17px;
        text-transform: uppercase;
      }
      a:active, a:hover, a:after, a:focus {
        color: $coral;
        -webkit-transition: color 500ms ease .01s;
        -moz-transition: color 500ms ease .01s;
        transition: color 500ms ease .01s;
      }
    }
  }
}

// MIDDLE CONTENT/ SHORTENED ABOUT ME
section {
  width: 44%;
  display: block;
  margin: 0 auto;
  .meblurb {
    color: #77767d;
    font-family: $bodyfont;
    font-size: 17px;
    text-align: justify;
    padding: 7% 0;
    padding-top: 10%;
    line-height: 1.6;
    .clickabletext {
      padding-top: 2%;
      text-align: left;
    }
    .icon {
      position: absolute;
      top: 5.5%;
      left: 8%;
      height: 68px;
    }
    a {
      border-bottom: 2px dashed $coral;
      font-weight: bold;
      text-decoration: none;
      color: #77767d;
    }
    a:hover {
      color: $coral;
      -webkit-transition: color 500ms ease .01s;
      -moz-transition: color 500ms ease .01s;
      transition: color 500ms ease .01s;
    }
  }
}



// PROJECT SECTION
.secondsection {
  display: block;
  margin: 0 auto;
  padding-bottom: 5%;
  .projectstitle {
    font-family: $bodyfont;
    color: #77767d;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2%;
    }
  .projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: left;
    justify-content: center;
    margin: 0 auto;
    width: 62%;
    max-width: 800px;
    .project {
      padding-bottom: 5%;

      .projecttext {
        color: #77767d;
        text-align: left;
        font-size: 17px;
      }
      img {
        width: 270px;
        height: 195px;
        text-align: center;
        object-fit: cover;
        padding: .5%;
        }
        .projecttitlelink {
        border-bottom: 2px dashed $coral;
        }
        a {
          font-family: $bodyfont;
          color: #77767d;
          font-size: 17px;
          text-align: center;
          text-decoration: none;
          text-transform: none;
          font-weight: 900;
          text-transform: uppercase;
        }
        a:hover {
          color: $coral;
          -webkit-transition: color 500ms ease .01s;
          -moz-transition: color 500ms ease .01s;
          transition: color 500ms ease .01s;
        }
        p {
          font-family: $bodyfont;
          font-size: 20px;
          text-align: center;
          text-transform: none;
          font-weight: 200;
        }
      }
    }
  }


// TABLET MEDIA QUERY
@media (min-width: 631px) and (max-width: 1024px) {
  .secondsection .projectcontainer .project img {
    width: 290px;
    height: 190px;
  }
}

// MOBILE MEDIA QUERY
@media (max-width: 630px) {

  nav ul {
      text-align: center;
      padding-top: 10%;
      padding-bottom: 5%;
  }
  header {
    height: 155px;
  }
  // header .headname {
  //   padding: 0;
  //   text-align: center;
  // }

  header .headname .nameslogan {
    padding-top: 7%;
  }
  header .headname a {
    font-size: 42px;
    padding: 1%;
    padding-top: 3%;
  }
  // header .headname h2 {
  //   font-size: 17.5px;
  //   padding-left: 0;
  //   padding-top: 1%;
  // }
  // .emailme p a {
  //   margin: 0;
  //   font-size: 13px;
  // }
  p{
    margin: 0;
  }
  // nav {
  //   padding-left: 0%;
  //   padding-top: 1%;
  // }

  section {
    width: 80%;
  }

  section .meblurb {
    text-align: justify;
    font-size: 17px;
    padding-top: 20%;
    padding-bottom: 10%;
    margin: 0;
  }

  .secondsection .projectstitle {
    padding-bottom: 2%;
  }

  .secondsection .projectcontainer {
    padding-bottom: 7%;
    padding-left: 0;
    width: 80%;
  }
  .secondsection .projectcontainer .project img {
    width: 98%;
    height: 160px;
  }
}

// ABOUT PAGE

.aboutalltext {
  width: 45%;
  padding-top: 1%;
  padding-bottom: 5%;
  display: block;
  margin: 0 auto;
  .aboutphoto img {
      height: 210px;
      display: block;
      margin: 0 auto;
      padding-top: 8%;
    }
  p {
    color: #77767d;
    font-family: $bodyfont;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin-top: 0;
  }
}

.skillscontainer {
  display: flex;
  justify-content: space-between;
  .skills{
    p {
      font-family: $bodyfont;
      font-size: 15px;
      text-align: left;
    }
  }
}


// ABOUT TABLET MEDIA QUERY
@media (min-width: 631px) and (max-width: 1024px) {

}

// ABOUT MOBILE MEDIA QUERY
@media (max-width: 630px) {
  .aboutalltext {
    width: 80%;
    text-align: left;
  }
  .aboutalltext p {
    text-align: justify;
  }
  .aboutalltext .aboutphoto img {
    width: 170px;
    height: 160px;
    padding: 7%;
    padding-top: 18%;
  }
}

// GOODREADS BOOKSHELF

.titletext {
  color: #565656;
  font-family: $bodyfont;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  background-color: #f9f9f9;
  padding-top: 6%;
  padding-bottom: 1%;
}
.subtitle {
  text-transform: none;
  font-size: 20px;
  font-family: $bodyfont;
  font-weight: lighter;
  text-align: center;
  padding: 1% 2% 1% 2%;
  color: #77767d;
}
.livelink {
  color: #77767d;
  font-family: $bodyfont;
  font-size: 15px;
  text-align: left;
  margin: .2%;
  a {
  color: #77767d;
  text-decoration: none;
  border-bottom: 2px dashed $coral;
  }
  a:hover {
    color: $coral;
    -webkit-transition: color 500ms ease .01s;
    -moz-transition: color 500ms ease .01s;
    transition: color 500ms ease .01s;
  }
}
.screenshots {
  display: block;
  margin: 0 auto;
  float: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-right: 15%;
  padding-left: 2%;
  margin-bottom: 5%;
  img {
    margin-top: 8%;
    width: 350px;
    padding: .5%;
    object-fit: cover;
  }
}

.projectinfo {
  line-height: 1.6;
  width: 40%;
  // height: 1200px;
  padding-left: 15%;
  padding-bottom: 10%;
  padding-top: 2%;
  font-family: $bodyfont;
  color: #77767d;
  text-align: justify;
  .toolsprocess {
    text-align: left;
  }
}

// GOODREADS TABLET MEDIA QUERY
@media (min-width: 631px) and (max-width: 1024px) {
  .screenshots {
    padding-right: 2%;
  }
  .screenshots img {
    height: 1200px;
    width: 355px;
  }
  .projectinfo {
    padding-left: 3%;
    width: 50%;
  }
}

// GOODREADS MEDIA QUERY MOBILE
@media (max-width: 630px) {
  .titletext {
    padding-top: 17%;
    height: 40px;
    font-size: 10px;
  }

  .livelink {
    padding: 2%;
    padding-bottom: 20%;
    text-align: center;
  }
.screenshots {
  padding: 0;
  img {
    padding-top: 10%;
    height: 65%;
    width: 75%;
    display: block;
    margin: 0 auto;
  }
 }
 .projectinfo {
   width: 80%;
   padding-bottom: 100px;
   padding-left: 10%;
   margin-bottom: 10%;
 }

 .socialmediaandemail {
   padding-top: 3%;
 }
}

// FOOTER POSITIONING
.socialmediaandemail {
  bottom: 10px;
  height: 80px;
  clear: both;
  background-color: #f9f9f9;
}

// BRANCHLESS BANK
