---
---


$bodyfont: 'Roboto', sans-serif;


@font-face {
    font-family: 'cajito';
    src: url('cajitoregular/cajito.otf');
}

@font-face {
    font-family: 'fabfelt';
    src: url('Sketch_Block.ttf');
}


// MIXINS
@mixin fontStyleColor {
  font-family: 'cajito';
  color: #3A3A3C;
}

$mustard: #ff5A5F;

html {
  max-width: 1440px;
}

body {
  background-color: #f9f9f9;
}

// VARIABLES
$gray: #3A3A3C;
$font: 'cajito';

// GENERAL FIXES
html, body, ul, li, h1, h2, h3, a{
  margin: 0px;
  padding: 0px;
}


// HEADER STYLING: NAME
header {
  height: 210px;
  position: relative;
  background-color: $gray;

// INSIDE HEADER NAME AND TITLE
  .headname {
    text-align: center;
    .nameslogan {
      padding-top: 3.5%;
    }
    a {
        text-decoration: none;
        font-family:$bodyfont;
        font-size: 6vw;
        font-weight: 900;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
      }
      a:hover {
        color: $mustard;
        -webkit-transition: color 500ms ease .01s;
        -moz-transition: color 500ms ease .01s;
        transition: color 500ms ease .01s;
      }
      h2{
        // @include fontStyleColor;
        font-family: $bodyfont;
        color: white;
        font-weight: 200;
        font-size: 20px;
      }
    }
  }

// SOCIAL MEDIA AND EMAIL CONTAINER
.socialmediaandemail {
  text-align: center;
  background-color: #ededed;
  padding-top: 5%;
}

// SOCIAL MEDIA ICONS
.socialmediaicons {
  font-size: 20px;
    ul {
      width: 100%;
      li {
        display: inline;
        list-style: none;
        // padding: 3%;
        a {
          color: #77767d;
          text-decoration: none;
        }
        a:hover {
          color: $mustard;
          -webkit-transition: color 500ms ease .01s;
          -moz-transition: color 500ms ease .01s;
          transition: color 500ms ease .01s;
        }
      }
    }
  }




// EMAIL
.emailme p  {
  margin: 0;
  padding-bottom: 5%;
}
.emailme p a {
  font-family: $bodyfont;
  font-size: 17px;
  text-decoration: none;
  color: #77767d;
  text-transform: uppercase;
}
.emailme p a:hover {
  color: $mustard;
  -webkit-transition: color 500ms ease .01s;
  -moz-transition: color 500ms ease .01s;
  transition: color 500ms ease .01s;
}

// NAVIGATION
nav {
  text-align: center;
  background-color: $gray;
  padding-top: 3%;
  padding-bottom: 1%;
  z-index: -2%;
  ul {
    li {
      display: inline;
      list-style: none;
      text-decoration: none;
      a {
        text-decoration: none;
        display: inline-block;
        color: white;
        font-family: $bodyfont;
        padding: 0 1%;
        font-size: 17px;
        text-transform: uppercase;
      }
      a:active, a:hover, a:after, a:focus {
        color: $mustard;
        -webkit-transition: color 500ms ease .01s;
        -moz-transition: color 500ms ease .01s;
        transition: color 500ms ease .01s;
      }
    }
  }
}

// MIDDLE CONTENT/ SHORTENED ABOUT ME
section {
  width: 43%;
  display: block;
  margin: 0 auto;

  .meblurb {
    color: #77767d;
    font-family: $bodyfont;
    font-size: 20px;
    text-align: justify;
    padding: 10% 0;
    padding-top: 15%;
    .icon {
      position: absolute;
      top: 5.5%;
      left: 8%;
      height: 68px;
    }
    a {
      font-weight: bold;
      text-decoration: none;
      color: #77767d;
    }
    a:hover {
      color: $mustard;
      -webkit-transition: color 500ms ease .01s;
      -moz-transition: color 500ms ease .01s;
      transition: color 500ms ease .01s;
    }
  }
}



// PROJECT SECTION
.secondsection {
  // background-color: #F7F7F7;
  // background-color: #ededed;
  margin: 0;
  padding-bottom: 5%;
  .projectstitle {
    font-family: $bodyfont;
    color: #77767d;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2%;
    }
  .projectcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: left;
    justify-content: left;
    padding-left: 19%;
    margin: 0 auto;
    width: 62%;
    .project {
      padding-bottom: 5%;
      img {
        width: 270px;
        height: 200px;
        text-align: center;
        object-fit: cover;
        }
        a {
          font-family: $bodyfont;
          color: #77767d;
          font-size: 20px;
          text-align: center;
          text-decoration: none;
          text-transform: none;
          font-weight: 900;
          text-transform: uppercase;
        }
        a:hover {
          color: $mustard;
          -webkit-transition: color 500ms ease .01s;
          -moz-transition: color 500ms ease .01s;
          transition: color 500ms ease .01s;
        }
        p {
          font-family: $bodyfont;
          font-size: 20px;
          text-align: center;
          text-transform: none;
          font-weight: 200;
        }
      }
    }
  }



// BLOG SECTION: FEATURED POST
// .thirdsection {
//   float: left;
//   h2 {
//     font-family: 'cajito';
//     color: #466C79;
//     font-size: 32px;
//     margin-left: 5%;
//     padding-top: 2%;
//   }
//     .blogpost {
//       list-style: none;
//       padding: 10%;
//       span {
//       @include fontStyleColor;
//       margin-left: 15%;
//       list-style: none;
//       }
//       h3 {
//       @include fontStyleColor;
//       margin-left:15%;
//       text-decoration: none;
//       }
//     }
//   }



// TABLET MEDIA QUERY
@media (min-width: 631px) and (max-width: 1024px) {
  // .secondsection .projectcontainer .project img {
  //   width: 320px;
  //   height: 150px;
  // }
}

//
//   header {
//     height: 190px;
//   }
//
//   section {
//     margin: 0 auto;
//     width: 83.5%;
//        .meblurb {
//          padding-left: 3%;
//          padding-right: 20%;
//          padding-top: 4%;
//       }
//     }
//
//   .secondsection .projectcontainer {
//     align-items: left;
//     justify-content: flex-start;
//     margin-top: 0;
//     margin-left: 8%;
//     padding-bottom: 5%;
//     padding-top: 5%;
//     }
//
//   .secondsection .projectcontainer .project img {
//     width: 300px;
//   }
//
//   .secondsection .projectstitle {
//     padding-left: 9%;
//   }
// }

// MOBILE MEDIA QUERY
@media (max-width: 630px) {


    nav ul {
        text-align: center;
        padding-top: 10%;
    }
    header {
      height: 150px;
    }
    // header .headname {
    //   padding: 0;
    //   text-align: center;
    // }
    header .headname a {
      font-size: 40px;
      padding: 1%;
    }
    // header .headname h2 {
    //   font-size: 17.5px;
    //   padding-left: 0;
    //   padding-top: 1%;
    // }
    // .emailme p a {
    //   margin: 0;
    //   font-size: 13px;
    // }
  p{
    margin: 0;
  }
  // nav {
  //   padding-left: 0%;
  //   padding-top: 1%;
  // }

  section {
    width: 80%;
  }

  section .meblurb {
    text-align: justify;
    font-size: 17px;
    margin: 0;
  }

  .secondsection .projectstitle {
    padding-bottom: 2%;
  }

  .secondsection .projectcontainer {
    padding-bottom: 7%;
    padding-left: 0;
    width: 80%;
  }
  .secondsection .projectcontainer .project img {
    width: 98%;
    height: 160px;
  }
}

// ABOUT PAGE

.aboutalltext {
  width: 60%;
  padding-top: 5%;
  display: block;
  margin: 0 auto;
  .aboutphoto img {
      height: 210px;
      display: block;
      margin: 0 auto;
    }
  p {
    color: #77767d;
    font-family: $bodyfont;
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
  }
}

.skillscontainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  .skills{
    width: 450px;
    position: relative;
    p {
      font-family: $bodyfont;
      font-size: 18px;
      text-align: left;
    }
  }
}


// ABOUT TABLET MEDIA QUERY
@media (min-width: 631px) and (max-width: 1024px) {

}

// ABOUT MOBILE MEDIA QUERY
@media (max-width: 630px) {
  .aboutalltext {
    width: 80%;
    text-align: left;
  }
  .aboutalltext p {
    text-align: justify;
  }
  .aboutalltext .aboutphoto img {
    width: 98%;
    height: 160px;
    padding: 7%;
  }
}



// RESEARCH PAGE

.title {
  font-family: $bodyfont;
  text-transform: uppercase;
  color: #77767d;
  font-size: 25px;
  text-align: left;
  margin-left: 11%;
  margin-top: 2%;
}

.subtitle {
  font-family: $bodyfont;
  color: #77767d;
  font-size: 20px;
  text-align: left;
  text-transform: lowercase;
  margin-left: 11%;
}

.livelink {
  a {
  text-decoration: none;
  font-weight: 900;
  }
}


h3 {
  font-family: $bodyfont;
  font-size: 20px;
  margin-top: 5%;
}

h4 {
  font-family: $bodyfont;
  font-size: 18px;
  width: 50%;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 14%;
}

.abouttext {
  @include fontStyleColor;
  font-size: 15px;
  width: 50%;
  display: block;
  padding-bottom: 1%;
  padding-left: 14%;

  a{
    text-decoration: underline;
    font-size: 20px;
    font-weight: 900;
    color: $mustard;
    cursor: pointer;
  }
}

// RESEARCH MEDIA QUERY TABLET
@media (min-width: 631px) and (max-width: 1024px) {

}

// GOODREADS BOOKSHELF

p {
  font-family: $bodyfont;
  color: #77767d;
}

.livelink {
  color: #77767d;
  font-family: $bodyfont;
  font-size: 17px;
  text-align: left;
  margin: 1%;
  padding-left: 10%;
  a {
  color: #77767d;
  }
  a:hover {
    color: $mustard;
  }
}

.projectinfo{
  color: #77767d;
  padding-top: 1%;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
  h3 {
    margin: 0;
    text-transform: uppercase;
  }
  div {
    margin: 1%;
  }
}

.screenshots {
  width: 84%;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  background-color: #f9f9f9;
  p{
    color: #77767d;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
  }
  img {
    height: 350px;
    width: 270px;
    padding: 10%;
    padding-top: 0;
    object-fit: cover;
  }
}

.projectinfo {
  width: 74%;
  p {
    text-align: justify;
  }
  div {
    padding-bottom: 1%;
  }
}


.toolsProcess {
  display: flex;
  width: 67%;
  align-items: left;
  flex-wrap: wrap;
  justify-content: flex-start;
  div {
    padding-right: 5%;
  }
}

// GOODREADS MEDIA QUERY MOBILE
@media (max-width: 630px) {
  .livelink {
    text-align: center;
    padding: 0;
  }
  .title {
    text-align: center;
    margin: 0;
  }
  .subtitle {
    text-align: center;
    margin: 0;
    padding: 0 14%;
  }
  .projectinfo {
    width: 72%;
    div {
      padding-bottom: 7%;
    }
  }
  .screenshots {
    img {
      width: 270px;
      height: 350px;
    }
  }
}
