<header>
  <div class="fullhead">
    <div class="headname">
      <div class ="nameslogan">
        <a href= "http://www.linabreslav.com">Lina Breslav</a>
        <h2>designer | developer | researcher</h2>
      </div>
    </div>
  <nav>
    <ul>
      <li><a href="../index.html">home</a></li>
      <li><a href="../about">about</a></li>
      <!-- <li><a href="#">projects</a></li> -->
      <li><a href="https://medium.com/@linabreslav">blog</a></li>
      <!-- <li><a href="../research">research</a></li> -->
      <li><a href="../resume">resume</a></li>
    </ul>
  </nav>
  <div class="socialmediaandemail">
    <div class="socialmediaicons">
      <ul>
        <li>
          <a class="linkedinicon" href="https://www.linkedin.com/in/linabreslav">
            <i class="fa fa-1.5x fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="twittericon" href="https://twitter.com/linabreslav">
            <i class="fa fa-1.5x fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="githubicon" href="https://github.com/linabreslav">
            <i class="fa fa-1.5x fa-github" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a class="mediumicon" href="https://medium.com/@linabreslav">
          <i class="fa fa-1.5x fa-medium" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  <div class="emailme">
    <p><a href="mailto:linabreslav@gmail.com">linabreslav@gmail.com</a></p>
  </div>
</div>
</header>
