<header>
  <div class="fullhead">
    <div class="headname">
      <div class ="nameslogan">
        <a href= "http://www.linabreslav.com">Lina Breslav</a>
        <h2>designer | developer | researcher</h2>
        <img class="titleicons" src="../images/frenchpressblueicon_1.png">
        <img class="titleicons" src="../images/croissanticon_1.png">
        <img class="titleicons" src="../images/laptopicon_1.png">
      </div>
    </div>
  <nav>
    <ul>
      <li><a href="../index.html">home</a></li>
      <li><a href="../about">about</a></li>
      <!-- <li><a href="#">projects</a></li> -->
      <li><a href="https://medium.com/@linabreslav">blog</a></li>
      <!-- <li><a href="../research">research</a></li> -->
      <li><a href="../resume2017.pdf" target="_blank">resume</a></li>
    </ul>
  </nav>
</header>
